#header
{
  background-color: #981a21;
  border-bottom: 3px solid #c42129;
  color: #ffe;
  clear: both;
  height: 100px;
  padding:10px 0;
  position: relative;
}

#footer
{
  padding-bottom: 30px;
  text-align: center;
}

#footer p
{
  margin: 0;
  padding: 0;
}

#title
{
  clear: right;
  float: left;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  line-height: 48px;
  margin-left: 10%;
  margin-top: 16px;
  width: 40%;
}

#title a
{
  color: inherit;
  text-decoration: none;
}

#authors
{
  clear: right;
  float: right;
  position: relative;
  margin-right: 10%;
  margin-top: 18px;
  width: 40%;
}

#authors span
{
  clear: both;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  float: right;
  line-height: 20px;
  margin: 0 0 4px 0;
  padding: 0;
  text-align: left;
}

#content p, #content a, #content .capi, #XML1, #JSON1, #XML2, #JSON2, #footer
{
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}

#content
{
  margin: 0 auto;
  padding: 0 10px;
  width: 80%;
}

#api
{
  background-color: #c42129;
  border: 3px solid #c42129;
  color: #ffe;
  height: 30px;
  position: relative;
  top: -3px;
}

.capi
{
  display: inline-block;
  float: left;
  line-height: 30px;
  text-align: center;
  width: 50%;
}

.capi:hover
{
  background-color: #ae1e25;
  cursor: pointer;
}

.active
{
  background-color: #c42129;
  color: #ffe !important;
}

.inactive
{
  background-color: #981a21;
}

.description
{
  margin-bottom: 30px;
  margin-top: 10px;
  width: 65%
}

.description p
{
  text-indent: 20px;
}

.description p.def,
{
  text-align: justify;
  margin: 0 0 5px ;
}

.description a
{
  background-color: #eee;
  box-shadow: 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px #999;
  -o-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  color: #980905;
  display: block;
  line-height: 30px;
  margin: 0 0 5px;
  padding-left: 20px;
  text-decoration: none;
}

.description a:hover
{
  background-color: #f3f3f3;
  color: #ee3f3f;
}

.description p.categ
{
  background-color: #c42129;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #ffe;
  margin: 0 0 10px;
}

.example
{
  padding-left: 20px;
  padding-right: 20px;
}

#XML1, #JSON1, #XML2, #JSON2
{
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -o-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -o-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#XML1:hover, #JSON1:hover, #XML2:hover, #JSON2:hover
{
  background-color: #ccc;
  cursor: pointer;
}

#xml1, #json1, #xml2, #json2
{
  position: relative;
  top: -2px;
}

.eg
{
  background-color: #c42129;
  color: #ffe;
  text-indent: 10px !important;
  padding-top: 3px;
  margin-bottom: 3px;
}

.example pre
{
  font-size: 14px;
  margin: 0 !important;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

