#header
{
  background-color: #981A21;
  border-bottom: 3px solid #c42129;
  color: #ffffee;
  height: 100px;
  padding:10px 0;
  position: relative;
}

#title
{
  clear: right;
  float: left;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  line-height: 48px;
  margin-left: 10%;
  margin-top: 16px;
  width: 40%;
}

#authors
{
  clear: right;
  float: right;
  position: relative;
  margin-right: 10%;
  margin-top: 18px;
  width: 40%;
}

#authors span
{
  clear: both;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  float: right;
  line-height: 20px;
  margin: 0 0 4px 0;
  padding: 0;
  text-align: left;
}

#content p, #content a
{
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}

#content
{
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}

.description
{
  margin-bottom: 40px;
  width: 60%
}

.description p.def
{
  text-indent: 20px;
  text-align: justify;
  margin: 0 0 5px ;
}

.description a
{
  /*border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius:5px;
  -webkit-border-radius: 5px;*/
  box-shadow: 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px #999;
  -o-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  background-color: #eee;
  color: #980905;
  display: block;
  line-height: 30px;
  margin: 0 0 5px;
  padding-left: 20px;
  text-decoration: none;
}

.description a:hover
{
  background-color: #f3f3f3;
  color: #ee3f3f;
}
