<div id="content">
  <div class="description">
    <p class="def">Se ofera un API de tip REST ce pune la dispzitie reprezentari ale informatiilor despre intrarile in concurs ale participantilor de la concursul 1, al caror CSV ne-a fost pus la dispozitie.</p>
    <a href="#">Spre pagina de descriere a api-ului</a>
    <a href="https://github.com/Schimodie/TW_Contest3">Spre repository-ul github pe care e pus codul ce generează acest api</a>
  </div>

  <div class="description">
    <p class="def">Primul consumator e scris in php, iar functionalitatea e sa verifice de un anume student a participat la concurs si sa afiseze detaliile pe care acesta le-a introdus cand s-a inregistrat</p>
    <a href="http://students.info.uaic.ro/~vlad.cristea/tw/php_client.php">Spre pagina la care se afla acest consumator</a>
    <a href="https://github.com/vladkrys/tw-concurs3-consumator-php">Spre repository-ul github unde se afla codul acestuia</a>
  </div>

  <div class="description">
    <p class="def">descriere consumator2</p>
    <a href="#">Spre pagina acestui consumator</a>
    <a href="#">Spre repository-ul github unde se afla codul acestuia</a>
  </div>
</div>
